<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="BookShop" connectionString="Data source=eight.labranet.jamk.fi;Initial Catalog=BookShop;user=koodari;password=koodari13"/>
    <add name="ViiniConnectionString1" connectionString="Data Source=eight.labranet.jamk.fi;Initial Catalog=Viini;Persist Security Info=True;User ID=koodari;Password=koodari13"
      providerName="System.Data.SqlClient" />
    <add name="HueHueConString" connectionString="Data Source=eight.labranet.jamk.fi;Initial Catalog=Movie;Persist Security Info=True;User ID=koodari;Password=koodari13"
      providerName="System.Data.SqlClient" />
    <add name="SMLiiga" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\SMLiiga.accdb;Persist Security Info=True"
      providerName="System.Data.OleDb" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
  <appSettings>
    <add key="rssfeeditIS" value="http://www.iltasanomat.fi/rss/uutiset.xml/" />
    <add key="Palaute" value="D:\G2415\GitHub\viikkotehtava-1\App_Data\Palaute.xml"/>
    <!--<add key="WanhatAutot" value="C:\Users\Mikkola\Documents\GitHub\viikkotehtava-1\App_Data\WanhatAutot.xml"/>-->
  </appSettings>
</configuration>