<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="ViiniConnectionString1" connectionString="Data Source=eight.labranet.jamk.fi;Initial Catalog=Viini;Persist Security Info=True;User ID=koodari;Password=koodari13"
      providerName="System.Data.SqlClient" />
    <add name="HueHueConString" connectionString="Data Source=eight.labranet.jamk.fi;Initial Catalog=Movie;Persist Security Info=True;User ID=koodari;Password=koodari13"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
</configuration>